.m-istyle {
  margin-left: 20px;
  margin-top: 40px;
}
.m-istyle dl {
  height: 44px;
  line-height: 44px;
  background-color: #bea474;
  background-image: linear-gradient(to right, #c2b08e 3%, #bea474 100%);
  display: flex;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  cursor: pointer;
}
.m-istyle dl.istyle {
  background-color: #bea474;
  background-image: linear-gradient(to right, #c2b08e 3%, #bea474 100%);
}
.m-istyle dl.youhui {
  background: linear-gradient(to right, #fa3c68 2%, #fe464d 97%) #fa3c68;
}
.m-istyle dl dt {
  font-size: 18px;
  margin-left: 13px;
  margin-right: 10px;
  padding: 0 5px;
}
.m-istyle dl dd {
  padding: 0 5px;
  position: relative;
}
.m-istyle dl dd:after {
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 7px solid #fff;
  content: " ";
  display: block;
  width: 2px;
  height: 0;
  top: 37px;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
}
.m-istyle dl dd.active:after {
  display: block;
}
.m-istyle .ibody {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  width: 100%;
  padding: 11px 10px 10px;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.m-istyle .ibody > li {
  width: 33.3%;
  height: 314px;
  padding: 5px 10px;
  box-sizing: border-box;
  float: left;
  background: #fff;
  transition: background-color 0.5s;
  height: 314px;
}
.m-istyle .ibody > li .el-card {
  width: 100%;
  height: 100%;
  border: none;
  overflow: visible;
  background-color: transparent;
}
.m-istyle .ibody > li .el-card img {
  max-width: 100%;
  width: 100%;
  height: 208px;
  margin-bottom: 11px;
  cursor: pointer;
}
.m-istyle .ibody > li .el-card .el-card__body .cbody {
  list-style: none;
}
.m-istyle .ibody > li .el-card .el-card__body .cbody .title {
  font-size: 16px;
  color: #222;
  height: 22px;
  line-height: 22px;
  margin-bottom: 8px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.m-istyle .ibody > li .el-card .el-card__body .cbody .sub-title {
  font-size: 12px;
  color: #999;
  line-height: 18px;
  height: 18px;
  margin-bottom: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m-istyle .ibody > li .el-card .el-card__body .cbody .price-info {
  height: 27px;
  overflow: hidden;
  margin-bottom: 10px;
}
.m-istyle .ibody > li .el-card .el-card__body .cbody .price-info .price-symbol {
  font-size: 14px;
  color: #BE9E4D;
  font-weight: 500;
}
.m-istyle .ibody > li .el-card .el-card__body .cbody .price-info .current-price {
  font-size: 22px;
  color: #BE9E4D;
  margin-right: 6px;
  letter-spacing: -0.8px;
  cursor: pointer;
}
.m-istyle .ibody > li .el-card .el-card__body .cbody .price-info .old-price {
  font-size: 12px;
  color: #999;
  text-decoration: line-through;
}
.m-istyle .ibody > li .el-card .el-card__body .cbody .price-info .sold {
  font-size: 12px;
  color: #999;
  float: right;
  margin-top: 10px;
}
.m-istyle .ibody > li .el-card .el-card__body .cbody .price-info .units {
  color: #BE9E4D;
  cursor: pointer;
  font-size: 12px;
}
.m-istyle .ibody > li .el-card .el-card__body .cbody .pos {
  font-size: 12px;
}
.m-istyle .ibody > li .el-card .el-card__body .cbody .pos span {
  height: 18px;
  line-height: 18px;
  text-align: center;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 0 3px;
}
.m-istyle .ibody > li .el-card .el-card__body .cbody .price {
  height: 27px;
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 14px;
  color: #BE9E4D;
  font-weight: 500;
}
.m-istyle .ibody > li .el-card .el-card__body .cbody .price em {
  font-size: 22px;
  color: #BE9E4D;
  margin-right: 6px;
  letter-spacing: -0.8px;
  cursor: pointer;
  font-style: normal;
}
.m-istyle .ibody > li .el-card .el-card__body .cbody .price span {
  font-size: 12px;
  letter-spacing: -0.6px;
}
.m-istyle .ibody > li:hover {
  background: #F4F4F4;
  transition: background-color 0.5s;
  border-radius: 4px;
}
