.page-index .m-menu {
  width: 230px;
  height: 475px;
  box-sizing: border-box;
  margin-top: -50px;
  margin-left: 20px;
  color: #FFF;
  position: relative;
  background: linear-gradient(-180deg, rgba(2, 181, 157, 0.85) 2%, rgba(22, 146, 183, 0.85) 100%);
}
.page-index .m-menu dt {
  height: 50px;
  padding-top: 15px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  margin-left: 15px;
  margin-bottom: 10px;
}
.page-index .m-menu dd {
  position: relative;
  box-sizing: border-box;
  padding: 2px 12px;
  height: 26px;
  cursor: pointer;
}
.page-index .m-menu dd:hover {
  background: rgba(255, 255, 255, 0.2);
}
.page-index .m-menu dd:hover > i {
  opacity: 1;
}
.page-index .m-menu .nav {
  font-size: 13px;
}
.page-index .m-menu .nav dd > i {
  font-family: "meituan";
  font-size: 14px;
  font-style: normal;
  opacity: 0.3;
  margin-right: 11px;
}
.page-index .m-menu .nav dd > i:before {
  width: 14px;
  height: 14px;
  display: inline-block;
}
.page-index .m-menu .nav .food:before {
  content: "\e622";
}
.page-index .m-menu .nav .takeout:before {
  content: "";
}
.page-index .m-menu .nav .hotel:before {
  content: "";
}
.page-index .m-menu .nav .homestay:before {
  content: "";
}
.page-index .m-menu .nav .movie:before {
  content: "";
  position: relative;
  left: -2px;
}
.page-index .m-menu .nav .airport:before {
  content: "";
}
.page-index .m-menu .nav .ktv:before {
  content: "";
}
.page-index .m-menu .nav .life:before {
  content: "";
}
.page-index .m-menu .nav .hair:before {
  content: "";
  transform: scale(0.7);
}
.page-index .m-menu .nav .marry:before {
  content: "";
}
.page-index .m-menu .nav .offspring:before {
  content: "";
}
.page-index .m-menu .nav .sport:before {
  content: "";
}
.page-index .m-menu .nav .furniture:before {
  content: "";
}
.page-index .m-menu .nav .study:before {
  content: "";
}
.page-index .m-menu .nav .health:before {
  content: "";
}
.page-index .m-menu .nav .bar:before {
  content: "";
}
.page-index .m-menu .nav .arrow {
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(-45deg);
  display: block;
  position: absolute;
  right: 13px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.page-index .m-menu .detail {
  padding: 0 30px;
  position: absolute;
  left: 230px;
  bottom: 0;
  width: 400px;
  height: 416px;
  background: #fff;
  z-index: 9999;
}
.page-index .m-menu .detail h4 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 24px;
  height: 22px;
  line-height: 22px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  color: #222;
}
.page-index .m-menu .detail span {
  color: #999;
  font-size: 12px;
  line-height: 15px;
  display: inline-block;
  margin-right: 16px;
  margin-top: 10px;
  cursor: pointer;
}
.page-index .m-menu .detail span:hover {
  color: #31BBAC;
}
.page-index .slide {
  height: 240px;
  margin: 10px;
}
.page-index .slide img {
  height: 240px;
}

.m-header .search-panel {
  padding-bottom: 35px;
}