.m-life .nav {
  list-style: none;
  display: flex;
  margin-top: -35px;
  margin-left: 50px;
}
.m-life .nav li {
  font-weight: 700;
  font-size: 16px;
  margin: 0 20px;
  cursor: pointer;
  position: relative;
}
.m-life .nav li:first-child {
  margin-left: 0;
}
.m-life .nav li a {
  color: #222;
  text-decoration: none;
}
.m-life .nav li a:hover {
  color: #f04d4e;
}
.m-life .nav li a.takeout:hover {
  color: #fbc700;
}
.m-life .nav li a.apartment:hover {
  color: #FDC411;
}
.m-life .nav li a.business:hover {
  color: #31BBAC;
}
.m-life .m-life-pic {
  margin: 10px 10px 10px 0px;
  width: 150px;
  height: 240px;
  background: url(//p0.meituan.net/codeman/e473bb428f070321269b23370ff02ba956209.jpg);
  background-size: 150px;
}
.m-life .m-life-login {
  margin: 10px 0 10px 0;
  box-sizing: border-box;
  height: 240px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.m-life .m-life-login .m-life-login-name {
  margin-bottom: 10px;
}
.m-life .m-life-login button {
  width: 118px;
  margin: 5px;
}
.m-life .m-life-login h4 img {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: 4px solid #E5E5E5;
}
.m-life .m-life-login p > button {
  width: 120px;
  margin-bottom: 15px;
}
.m-life .m-life-login .item {
  width: 100%;
  text-align: center;
}
.m-life .m-life-login .item .fn-item {
  float: left;
  width: 33.33%;
}
.m-life .m-life-login .item .fn-item .iconfont {
  color: #96E4DA;
  font-size: 20px;
}
.m-life .m-life-login .item .fn-item .icon-ticket_iconx:before {
  content: "î˜°";
}
.m-life .m-life-login .item .fn-item .fn-name {
  font-size: 12px;
  color: #222;
  margin: 5px 0;
}
.m-life .m-life-hotel,
.m-life .m-life-music {
  height: 165px;
  background: url(http://p1.meituan.net/codeman/8cce56c467a17e04f3094d1e455462a0132772.png);
  background-size: 270px;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-left: 10px;
}
.m-life .m-life-music {
  background: url(//p1.meituan.net/codeman/16442c19da1f1c4544f794e29d99c92051716.jpg);
  margin-left: 0;
}
.m-life .m-life-coop {
  background: url(//p1.meituan.net/codeman/5b21cddb4bb1cbc3a9c3bce0f726c75940469.jpg);
  width: 150px;
  height: 165px;
  background-size: 150px;
}
.m-life .m-life-downapp {
  background: #fff;
  height: 165px;
  text-align: center;
}
.m-life .m-life-downapp img {
  width: 95px;
  height: 95px;
  margin-top: 10px;
}
.m-life .m-life-downapp p {
  font-size: 16px;
  color: #222;
  font-weight: 500;
}
.m-life .m-life-downapp .last-p {
  font-size: 12px;
  font-weight: 500;
  margin-top: 2px;
}
.m-life .m-life-downapp .last-p span {
  color: #EC5330;
  margin-right: 5px;
}
.m-life .m-life-downapp .last-p em {
  color: #3f3f3f;
  font-style: normal;
}