.choose-wrap {
  display: inline-block;
}
.choose-wrap.disabled {
  cursor: not-allowed;
}
.choose-wrap > .choose {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #E5E5E5;
  margin: 0 10px 0 20px;
  padding: 10px 0 10px 10px;
  vertical-align: middle;
  display: inline-block;
  width: 150px;
  height: 40px;
  position: relative;
  font-size: 14px;
  color: #666;
  box-sizing: border-box;
}
.choose-wrap > .choose i {
  color: #666;
  height: 10px;
  position: absolute;
  right: 4px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.choose-wrap .choose .mt-content {
  display: none;
  position: absolute;
  cursor: default;
  top: 45px;
  left: 0;
  height: 375px;
  padding: 20px 0 20px 15px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #E5E5E5;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1;
}
.choose-wrap .choose .mt-content h2 {
  font-size: 16px;
  color: #CCC;
  margin-bottom: 11px;
}
.choose-wrap .choose .mt-content.active {
  display: block;
}
.choose-wrap .choose .mt-content::before {
  content: "";
  left: 26px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 0;
  position: absolute;
  top: -7px;
  border-bottom: 6px solid #E5E5E5;
}
.choose-wrap .choose .mt-content .wrapper {
  width: 264px;
}
.choose-wrap .choose .mt-content .wrapper.city {
  width: 665px;
}
.choose-wrap .choose .mt-content .wrapper .col {
  float: left;
}
.choose-wrap .choose .mt-content .wrapper .col .mt-item {
  cursor: pointer;
  font-size: 12px;
  color: #666;
  display: table;
  box-sizing: border-box;
  min-width: 40px;
  height: 20px;
  padding: 1px 8px;
  margin: 6px 38px 6px 0;
}
.choose-wrap .choose .mt-content .wrapper .col .mt-item.active {
  background: #13D1BE;
  border-radius: 10px;
  color: #fff;
}
.choose-wrap .city-choose .mt-cities {
  display: none;
  position: absolute;
  cursor: default;
  top: 45px;
  left: 0;
  min-width: 150px;
  height: 375px;
  padding: 20px 0 20px 15px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #E5E5E5;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}