.page-login .login-header {
  position: relative;
  width: 980px;
  height: auto;
  margin: 40px auto 30px;
}
.page-login .login-header .logo {
  background-image: url(//s0.meituan.net/bs/file/?f=fe-sso-fs:build/assets/sp-retina.b95a7dd.png);
  background-position: 0 !important;
  background-size: contain !important;
  width: 82px;
  height: 54px;
  display: block;
}
.page-login .login-panel {
  margin: 0 auto 70px;
  width: 980px;
  display: flex;
}
.page-login .login-panel .banner {
  margin-right: 115px;
}
.page-login .login-panel .form {
  display: flex;
  flex-direction: column;
  width: 270px;
}
.page-login .login-panel .form .tips {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #f5d8a7;
  border-radius: 2px;
  background: #fff6db;
  font-size: 12px;
  padding-left: 26px;
}
.page-login .login-panel .form .tips > i {
  position: relative;
}
.page-login .login-panel .form .tips > i:after {
  position: absolute;
  display: inline-block;
  width: 17px;
  height: 17px;
  font-family: iconfont;
  font-style: normal;
  content: "";
  font-size: 28px;
  top: -9px;
  left: -24px;
}
.page-login .login-panel .form em {
  font-style: normal;
  float: right;
}
.page-login .login-panel .form .reg {
  padding-top: 10px;
  font-size: 14px;
}
.page-login .login-panel .form .reg a {
  text-decoration: none;
}
.page-login .login-panel .form .reg a:hover {
  text-decoration: underline;
}
.page-login .login-panel .form .oauth-wrapper {
  margin-top: 20px;
}
.page-login .login-panel .form .oauth-wrapper .title-wrapper {
  position: relative;
  margin-bottom: 30px;
  border-bottom: 1px solid #CCC;
  width: 100%;
  height: 0;
  overflow: visible;
}
.page-login .login-panel .form .oauth-wrapper .title-wrapper .title {
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #666;
  background: #FFF;
}
.page-login .login-panel .form .oauth-wrapper .oauth {
  padding-left: 88px;
}
.page-login .login-panel .form .oauth-wrapper .oauth__link {
  float: left;
  margin-right: 20px;
  width: 18px;
  height: 18px;
  background-position: -1250px -491px;
  background-image: url(//s0.meituan.net/bs/file/?f=fe-sso-fs:build/assets/sp-normal.2ee5c09.png);
}
.page-login .login-panel .form .oauth-wrapper .oauth__link--weibo {
  width: 18px;
  height: 18px;
  background-position: -1250px -599px;
  background-image: url(//s0.meituan.net/bs/file/?f=fe-sso-fs:build/assets/sp-normal.2ee5c09.png);
}
.page-login .login-panel .el-input {
  margin-top: 10px;
}
.page-login .login-panel .foot {
  margin-top: 10px;
  font-size: 12px;
}
.page-login .login-panel .foot a {
  float: right;
  text-decoration: none;
}
.page-login .login-panel .error input {
  border-color: red;
}
.page-login .login-panel .el-input__icon.profile:after {
  font-family: iconfont;
  content: "";
  font-style: normal;
  top: -1px;
  left: 5px;
  position: absolute;
}
.page-login .login-panel .el-input__icon.password:after {
  font-family: iconfont;
  content: "";
  font-style: normal;
  top: -1px;
  left: 3px;
  position: absolute;
  font-size: 18px;
}
.page-login .login-panel .btn-login {
  margin-top: 10px;
  color: #fff;
  background-color: #2db3a6;
  border: none;
  padding: 12px 15px;
}
.page-login footer {
  width: 980px;
  margin: 0 auto 30px;
  text-align: left;
}
.page-login footer ul {
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  padding: 12px 0;
  color: #ddd;
}
.page-login footer ul li {
  display: inline-block;
  font-size: 13px;
  text-align: center;
}
.page-login footer ul li:not(:last-child) {
  border-right: 1px solid #eee;
}
.page-login footer ul li a {
  font-size: 13px;
  color: #999;
  padding-right: 10px;
}
.page-login footer ul li a:hover {
  text-decoration: underline;
}
.page-login footer ul li a:not(.first) {
  padding-left: 10px;
}
.page-login footer > p {
  margin: 10px 0;
  font-size: 13px;
  color: #999;
}
